#my-canvas {
    border: 1px black solid;
    background-color:white;
    cursor: url("./img/pencil.ico"), zoom-in;
    float: left;
    position: absolute;
    z-index: 5;
  }

#my-textbox {
    font:28px orbitron;
    float: left;
    position: absolute;
    background-color:transparent;
    resize:none;
    z-index: 1;
    word-break: break-all;
}

#canvas_area {
    height: 650px;
}


#pen {
    background-image: url('./img/pencil.ico');
}

#erase {
    background-image: url('./img/eraser.ico');
}

#redo {
    background-image: url('./img/redo.ico');
}

#reset {
    background-image: url('./img/reset.ico');
}

#undo {
    background-image: url('./img/undo.ico');
}

#circle {
    background-image: url('./img/circle.ico');
}

#triangle {
    background-image: url('./img/triangle.ico');
}
  
#text {
    background-image: url('./img/text.ico');
}

#download {
    background-image: url('./img/download.ico');
}

#rectangle {
    background-image: url('./img/rectangle.ico');
}

#frectangle {
    background-image: url('./img/frectangle.ico');
}

#fcircle {
    background-image: url('./img/fcircle.ico');
}

.tools{
    background-size: contain;
    width: 20px;
    height: 20px;
}


